<%-   include ("partials/header.ejs")      %>



<div class="container mt-3">


    <a class="btn btn-primary btn-lg" href="/blogs/new">New Blog</a>







    <div class="container mt-3">

    <div class="row">   
    <%   blogs.forEach(function(blog){   %>
        
        
        <div class="card col=12 m-4" style="width: 18rem;">
        <!-- <div class="card col-md-6 col-lg-4 my-2 col-xl-3" style="width: 18rem;"> -->
            <img src="<%=blog.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=blog.title%></h5>
                <p class="card-text"><%=blog.content.substring(0,100)%>.....</p>
                <a href="/blogs/<%=blog._id%>" class="btn btn-primary">Read More</a>
            </div>
        </div>
        
        
        
        
    <%   });   %>
        
    
    </div>


</div>


</div>
        
        
        
        <%-   include ("partials/footer.ejs")      %>